:root {
  --brand-primary: #182B49;
  --brand-secondary: #4D8DFF;
  --brand-accent: #7765E3;
  --brand-background-light: #F5F7FF;
  --brand-background-dark: #0B1220;
  --brand-font: 'Inter', sans-serif;
}
